/* You can add global styles to this file, and also import other style files */
body{
  margin-bottom: 100px;
  
  }
  
  footer{
      position:fixed;
      bottom: 0px;
      width: 100%;
      left:0px;
      text-align: right;
  }
  
  #chat-mensajes{
      height: 300px;
      border: 2px solid gray;
      border-radius: 5px;
      overflow-y: scroll;
      /* background: linear-gradient(135deg,#2b00c6,#be0d00); */
  }

.chat-input{
    margin-top: 10px;
    display: grid;
    /* background: linear-gradient(135deg,#2b00c6,#be0d00); */
}

.margin-top-10{
margin-top: 10px;
}
